.main-background {
    background-color: gray;
}

h1 {
    color: purple;
    text-align: center;
    margin-top: 50px;
}
#loading-text {
    text-align: center;
    margin-top: 50px;
    font-family: cursive;
    font-size: 25px;
}
#chart_div {
    width: 82%;
    margin-left: 9%;
    height: 50%;
}
#company-input {
    margin-left: 35%;
    margin-top: 40px;
    width: 30%;
}